<ion-header style="padding: 20px 60px 40px; background: var(--ion-color-light)">
  
  <ion-title mode="md" size="large" style="margin-top: 80px;color: black;text-align: center;padding:15px"> AMMINISTRATORE </ion-title>
  <ion-button
    mode="md"
    style="--background: #d62839; font-weight: bold;padding:1px"
    shape="round"
    expand="full"
    (click)="presentModal()"
  >
  Aggiungi un nuovo membro
  </ion-button>
  

 <ion-searchbar mode="md" debounce="500" (ionChange)="updateFilter($event)" placeholder="Cerca per nome">  
   
 </ion-searchbar>


     </ion-header>
     
     <ion-content fullscreen="true">

    <ngx-datatable
    class="material"
    [rows]="filteredUsers"
    [limit]="50"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="75"
    [scrollbarV]="true"
    [scrollbarH]="false"
    style="height: 100%;"
    (activate)="onActivate($event)"
    >
    


    
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
         Nome e Cognome
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.displayName}}
      </ng-template>
  </ngx-datatable-column>

 

 
  </ngx-datatable>
 

</ion-content>
 