<ion-toolbar>
 
  <ion-title>Informazioni</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()" > <ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content fullscreen>
<ion-list>
  <ion-item>

    <ion-label>
      <h2>Versione</h2>
      <p>Alpha</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Autori</h2>
      <p>Pasquale Martucci</p>
      <p>Salvatore Iandolo</p>
    </ion-label>
  
  </ion-item>
</ion-list>
</ion-content>